.card {
  display: grid;
  gap: 0.5rem;
  text-align: center;
  background-color: transparent;
  padding: 1.5rem;
  border-bottom: solid #000000 3px;
}

.card > h3 {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
}

.item p {
  margin-inline: auto;
  opacity: 0.75;
}

.item button {
  position: absolute;
  right: 0.25rem;
}

.item input {
  background-color: transparent;
  outline: 0;
  border: 0;
  border-bottom: solid 2px #121212;
  border-style: dotted;
  padding: 0.25rem;
  text-align: center;
  width: 100%;
}

.card.empty {
  border-bottom: solid #ec0000 3px;
  color: #ec0000;
}

/* EDIT */
.edit {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.item.active {
  flex-direction: column;
}
.item.active button {
  position: relative;
}
.card.active {
  color: #121212;
}
