.card {
  display: grid;
  gap: 0.5rem;
  text-align: center;
  background-color: transparent;
  padding: 1.5rem;
  border-bottom: solid #cccccc 1px;
}

.card > h3 {
  text-transform: uppercase;
  font-weight: 700;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
}

.item p {
  margin-inline: auto;
  opacity: .5;
}

.item button {
  position: absolute;
  right: .25rem;
}

.item input{
  background-color: transparent;
  outline: 0;
  border: 0;
  border-bottom: solid 2px #cccccc; 
  padding: .25rem;
  text-align: center;
  width: 100%;
}

.card.empty{
  border-bottom: solid rgba(255, 0, 0, 0.76) 1px;
  color: rgba(255, 0, 0, 0.76);
}


/* EDIT */
.edit{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.item.active{
 flex-direction: column;
}
.item.active button{
  position: relative;
}
.card.active {
  border-width: 2px;
  border-color: rgb(2, 201, 35);
}


