.form {
  display: grid;
  background-color: rgba(208, 207, 207, 0.4);
  border-radius: 0.5rem;
  padding: 2rem;
  margin-top: 2rem;
}
.form-grid {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem 5rem;
}
.button {
  justify-self: center;
  margin-top: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}
.form-group:nth-child(9) {
  grid-column: 1/3;
  margin-block: 1rem;
  width: 50%;
  text-align: center;
}
.form-group input,
.form-group p {
  color: #121212ae;
  padding-block: 0.75rem;
  transition: 250ms ease-in-out;
}

.form-group label {
  font-weight: 700;
  transition: 250ms ease-in-out;
}

.form-group input {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #12121279;

  &:is(:active, :hover, :focus) {
    color: #121212;

    + label {
      text-decoration: underline;
    }
  }
}
