.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  height: 3rem;
  width: 10rem;
  border: none;
  color: white;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.0625rem;
  transition: 250ms ease-in-out;
}

/* submit */
.btn.submit {
  background-color: rgb(4, 178, 33);
}
/* hover */
.btn.submit:is(:hover, :active) {
  background-color: rgb(6, 220, 42)
}

/* UPDATE ORDER BUTTONS */
/* edit */
.btn.edit {
  color: rgb(0, 174, 255);
  background-color: transparent;
  width: auto;
}
.btn.edit:is(:hover, :active) {
  color: rgb(0, 255, 42);
}
/* cancel */
.btn.cancel {
  color: rgba(255, 0, 0, 0.8);
  background-color: transparent;
  width: auto;
}
.btn.cancel:is(:hover, :active) {
  color: rgb(255, 0, 0);
}

/* EXCEL upload / clear btns / add / details*/
.btn.upload,
.btn.clear {
  font-weight: 700;
  background: transparent;
  padding-inline: 0.5rem;
  width: auto;
}
.btn.upload svg,
.btn.clear svg {
  width: 16px;
}
.btn.upload {
  color: rgb(1, 120, 21);
  fill: rgb(1, 120, 21);
}
.btn.upload:is(:hover, :active) {
  color: rgb(2, 201, 35);
  fill: rgb(2, 201, 35);
  border-bottom: 1px solid rgb(2, 201, 35);
  margin-bottom: -1px;
}

.btn.clear {
  color: hsl(0, 60%, 49%);
  fill: hsl(0, 60%, 49%);
}
.btn.clear:is(:hover, :active) {
  color: hsl(0, 88%, 59%);
  border-bottom: 1px solid hsl(0, 88%, 59%);
  margin-bottom: -1px;
}

.btn.add {
  background-color: blue;
  fill: white;
  border-radius: 8px;
  width: auto;
  padding-inline: .75rem;
}
.btn.add:is(:hover, :active) {
  background-color: rgb(0, 92, 250);
}
.btn.add svg {
  width: 1.5rem;
}

.btn.details {
  background-color: rgb(158, 120, 173);
  border-radius: 8px;
}
.btn.details:is(:hover, :active) {
  background-color: rgb(135, 47, 170);
  border-radius: 8px;
}
