.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  height: 3rem;
  width: 10rem;
  border: none;
  color: white;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.0625rem;
  transition: 250ms ease-in-out;
}

/* submit */
.btn.submit {
  color: #ffec00;
  background-color: #121212;
  border-radius: 8px;
}
/* hover */
.btn.submit:is(:hover, :active) {
  color: #121212;
  background-color: #ffec00;
}

/* UPDATE ORDER BUTTONS */
/* edit */
.btn.edit {
  color: rgb(0, 191, 255);
  background-color: transparent;
  width: auto;
}
.btn.edit:is(:hover, :active) {
  color: #3eca02;
}
/* cancel */
.btn.cancel {
  color: #ec0000;
  background-color: transparent;
  width: auto;
}
.btn.cancel:is(:hover, :active) {
  color: #f75e5e;
}

/* EXCEL upload / clear btns / add / details*/
.btn.upload,
.btn.clear {
  font-weight: 700;
  background: transparent;
  padding-inline: 0.5rem;
  width: auto;
}
.btn.upload svg,
.btn.clear svg {
  width: 16px;
}
.btn.upload {
  color: rgb(2, 255, 44);
  fill: rgb(2, 255, 44);
}
.btn.upload:is(:hover, :active) {
  color: rgb(2, 201, 35);
  fill: rgb(2, 201, 35);
  border-bottom: 1px solid rgb(2, 201, 35);
  margin-bottom: -1px;
}

.btn.clear {
  color: hsl(0, 94%, 61%);
  fill: hsl(0, 97%, 62%);
}
.btn.clear:is(:hover, :active) {
  color: hsl(0, 93%, 68%);
  border-bottom: 1px solid hsl(0, 93%, 68%);
  margin-bottom: -1px;
}

.btn.add {
  color: #121212;
  background-color: #ffec00;
  fill: #121212;
  border-radius: 8px;
  width: auto;
  padding-inline: 0.75rem;
}
.btn.add:is(:hover, :active) {
  color: #ffec00;
  background-color: #121212;
  outline: 2px solid #ffec00;
  fill: #ffec00;
}
.btn.add svg {
  width: 1.5rem;
}

.btn.details {
  color: #ffec00;
  background-color: #121212;
  border-radius: 8px;
}
.btn.details:is(:hover, :active) {
  color: #121212;
  background-color: #ffec00;
}
