.header{
  border-bottom: 3px solid #ffec00;
  background-color: #121212;
}

.container{
  display: flex;
  align-items: center;
}

.container h2{
  font-size: 2rem;
  font-weight: 700;
  color: #ffec00;
}

.buttons{
  display: flex;
  gap: 1rem;
}
.container h2{
  margin-right: auto;
}