input[type="file"] {
  display: none;
}
.costum-file-upload {
  display: inline-grid;
  place-items: center;
  cursor: pointer;
  height: 3rem;
  width: 10rem;
  border: none;
  border-radius: 8px;
  color: white;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.0625rem;
  background-color: #22863a;
  transition: 250ms ease-in-out;
}

.costum-file-upload:is(:hover, :active) {
  opacity: 0.75;
}

.uploader {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
}

.uploader > button {
  margin-left: auto;
}

.hidden {
  display: none;
}
