.grid {
  display: grid;
  gap: var(--grid-gap, 1rem);
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(calc((100% / 3) - 2rem), 100%), 1fr)
  );
  margin-top: 2.5rem;
}

.card {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  border-bottom: solid #12121228 2px;
}

.row {
  display: grid;
  align-items: top;
  gap: 0.5rem;
  text-align: center;
}

.row > h3 {
  font-weight: 800;
}
